<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Style/site.css" />
    <title></title>
</head>
@if (Request.IsAuthenticated)
{
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 api-viewer" route="~/api">
                <p>
                    <font size="6">Експерти</font>
                    <table class="table table-bordered table-hover api-table" address="/expert" idname="idExperts"></table>
                </p>
                <p>
                    <font size="6">Свідоцтво</font>
                    <table class="table table-bordered table-hover api-table" address="/order" idname="idCommissionOrders"></table>
                </p>

            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/view.js"></script>
</body>
}
</html>